<% include partials/header %>
<h1>Add Customers</h1>
<% if(errors != undefined){ %>
<ul>
<% errors.forEach(function(error){ %>
<li><%= error.msg %></li>

<% }) %>
</ul>

<% } %>

<form method = "POST" action ="/users/add">
<label>Name</label><br>
<input type = 'text' name='name'>
<br>
<label>Age</label><br>
<input type = 'text' name='age'>
<br>
<label>Email</label><br>
<input type = 'text' name='email'>
<br><br>
<input type = 'submit' value='Submit'>
</form>


<ul>
<h3>Old Customers</h3>
<% users.forEach(function(user){ %>
<li><%= user.name %></li>
	
<% }) %>
</ul>
<% include partials/footer %>
